/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.sidebar ul li a.active {
    font-weight: bold;
}

/* Main Content Styles */
.content {
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 240px);
}
h1 {
    text-align: center;
    margin-top: 20px;
}
h2 {
    text-align: center;
    margin-top: 20px;

}

/* Admin Buttons */
.admin-actions button {
    background-color: yellow;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.admin-actions button:hover {
    background-color: orange;
}
.events {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  
  .event {
    display:inline-block;
    padding:30px;
    position: relative;
    text-align: center;
    width: 40%;
    transition: transform 0.3s;
  }
  
  .event img {
    width: 100%;
    height: auto;
  }
  
  .event:hover {
    transform: scale(1.05);
  }
  
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    border-radius: 5px;
    z-index: 1000;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form label {
    margin-top: 10px;
}

.modal form input {
    padding: 8px;
    margin-top: 5px;
    width: 100%;
}

.modal form button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.modal.active {
    display: block; /* Show when active */
}

.cancel-btn {
    background-color: red;
    color: white;
}

.cancel-btn:hover {
    background-color: darkred;
}

/* Style for Go Back Button */
.go-back {
    background-color: grey;
    color: white;
}

.go-back:hover {
    background-color: darkgrey;
}